body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #7a0c0c, #000);
  color: white;
  height: 100vh;
}
.now-playing {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-section {
  text-align: center;
}

.album-art {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.6);
  margin-bottom: 20px;
}

.album-section h1 {
  font-size: 26px;
  margin: 5px 0;
}

.album-section p {
  opacity: 0.7;
}
.bottom-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;

  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(20px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 -10px 40px rgba(0,0,0,0.7);
}
.controls {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.8;
}

.controls .play {
  font-size: 38px;
}

.controls button:hover {
  opacity: 1;
  transform: scale(1.1);
}
.timeline {
  width: 60%;
  accent-color: #1db954; /* Spotify green */
}
